
body {
  margin: 2em;
}

.equation {
  font: 4em bold Arial;
  padding: 0.5em;
}

.word-equation {
  font: 2.5em normal Georgia;
  padding: 0.6em;
}

.structure {
  border: 1px solid #a0a0a0;
  margin: 40pt;
}

.number span {
  padding: 0.1em;
  border: 1pt solid white;
}

.number span.selected {
  border: 1pt solid red;
  background-color: #f0e0e0;
}

.number span.highlighted {
  border: 1pt solid blue;
  background-color: #f0e0e0;
}

.operator span {
  padding: 0.1em;
  border: 1pt solid white;
}

.operator span.selected {
  border: 1pt solid green;
  background-color: #e0f0e0;
}

.operator span.highlighted {
  border: 1pt solid blue;
  background-color: #e0f0e0;
}
