@import "_correspondence-fonts";

/** Generic or default Correspondence styling */

$default_block_border: #a0a0a0;
$default_block_background: white;

.block {
  border: 3px solid $default_block_border;
  margin: 1.0em 0;
  padding: 0.5em 0.4em;
  line-height: 1.5em;
  position: relative;
  background-color: white;
  color: #686868;
  .block-item {
      color: #000060;
  }
  &:first-child {
      margin-top: 0;
  }
  &:last-child {
      margin-bottom: 0;
  }
  .language {
      font-size: 0.6em;
      font-style: italic;
      color: #808080;
      position: absolute;
      top: 0.2em;
      right: 0.3em;
      line-height: 1em;
      padding: 0;
      margin: 0;
  }
}

.translation {
  position: relative;
  width: 40em;
  font: 1.2em normal $serif_font_family;
  border: 2px solid #505050;
  margin: 3em 0.5em;
  background-color: #e0e0e0;
  padding: 1em;
  &:first-child {
      margin-top: 0;
  }
  &:last-child {
      margin-bottom: 0;
  }
  .title {
      color: #505050;
      padding: 0 0 0 0;
      margin: -0.5em 0 0.3em -0.4em;
      float: left;
      font-size: 1.2em;
      font-style: italic;
  }
}

.partial-match, .match, .selected {
  color: black;
}

.block {
    clear: both;
    .block-item {
	padding: 0.1em;
    }
    .unhighlighted {
	border: 1pt solid white;
    }
    .selected {
	border: 1pt solid green;
	background-color: #a0f0a0;
    }
    .match {
	border: 1pt solid green;
	background-color: #d0f0d0;
    }
    .partial-match {
	border: 1pt solid #80a080;
	background-color: #f8fff8;
    }
}

.control {
  padding: 0.15em 0.35em;
  margin: 0 0 0 5em;
  font: 0.9em $sans_serif_font_family;
  color: #606060;
  background-color: #f0f0f0;
  border: solid 1px #d0d0d0;
}

.interleaving-control-wrapper {
    text-align: right;
    float: right;
    margin: -0.5em -0.4em 0.5em 0;
    .interleaving-control {
	background-color: #f0f0f0;
	padding: 0.1em 0.3em 0 0;
	font-family: $sans_serif_font_family;
	font-size: 0.6em;
	margin: 0;
	color: #808080;
	white-space: nowrap;
    }
}

.blocks-wrapper {
  margin: 0;
  padding: 0;

  .interleaved-block {
      margin: 2.5em 0;
      &:first-child {
	  margin-top: 0;
      }
      &:last-child {
	  margin-bottom: 0;
      }
      .block {
	  margin-top: 0.5em;
	  margin-bottom: 0.5em;
	  &:first-child {
	      margin-top: 0;
	  }
	  &:last-child {
	      margin-bottom: 0;
	  }
      }
  }
}

.bracketup-error {
    border: solid 1pt red;
    margin: 0.3em;
    padding: 1em;
    .message {
	font-family: $sans_serif_font_family;
	font-size: 1.3em;
	margin: 0 0 0.4em 0;
	.message-text {
	    font-weight: bold;
	    color: red;
	}
    }
    .line, .error-line, .error-pointer {
	font-family: $code_font_family;
	white-space: pre;
    }
    .line {
	color: #000060;
    }
    .error-pointer, .error-line {
	color: red;
	background-color: #fff0f0;
    }
    .error-line {
	line-height: 2em;
    }
    .error-message {
	color: red;
    }
}

.example {
    font-size: 0.8em;
    display: inline-block;
    font-family: $code_font_family;
    white-space: pre;
}	    

.parsed-tokens {
    .line {
	.depth-indent {
	    display: inline-block;
	    width: 2em;
	    background-color: #b0b0ff;
	    color: #808080;
	    margin: 0.2em 0.2em;
	}
	.unbalanced {
	    color: #005000;
	    background-color: #f0f030;
	    &:hover {
		color: green;
		background-color: yellow;
	    }
	}
	.unexpected {
	    color: #d00000;
	    background-color: #ffc0c0;
	    &:hover {
		color: red;
		background-color: ffa0a0;
	    }
	}
    }
}
