body {
  color: #404040;
  margin: 0.4em 2em;
}

p, ul {
  color: black;
  font: 1.2em normal Georgia;
}

h1 {
  font: 3em bold Arial,Helvetica;
  color: #000030;
  margin: 0;
  padding: 0;
}

h2 {
  color: #000030;
  font: 2em bold Arial,Helvetica;
}

span.output-marker {
  padding: 0 1em;
  color: #f03030;
}

$default_structure_border: #a0a0a0;
$default_structure_background: white;

.structure {
  border: 3px solid $default_structure_border;
  margin: 25pt;
  background-color: white;
  padding: 0.7em;
  line-height: 1.5em;
}

.structure-group {
  position: relative;
  width: 40em;
  font: 1.2em normal Georgia;
  border: 2px solid #505050;
  margin: 4em 0.5em;
  background-color: #e0e0e0;
  padding: 0em;
  &:first-child {
      margin-top: 0;
  }
}

.item-groups-example {
    .structure-group {
	width: 30em;
    }
}

.equation {
  font: 2.2em bold Arial;
  padding: 0.5em;
  td.number {
      font-size: 2em;
  }
}

.blockOfDots {
  border: 1pt solid #c0c0c0;
}

td.blockOfDots {
  font-size: 2em;
}

table.blockEquation {
  border-spacing: 0.8em;
}

.word-equation, .sentence {
  font: 1.4em normal Georgia;
  padding: 0.9em;
}

.paragraph {
  font: 1.4em normal Georgia;
  padding: 1.4em;
  line-height: 1.3em;
  .word {
      padding: 0 0.1em;
  }
}

.highlighted, .selected {
  color: black;
}

.structure {
    span, .word {
	padding: 0.1em;
	border: 1pt solid white;
    }
    span.selected, .word-selected {
	border: 1pt solid green;
	background-color: #a0f0a0;
    }
    span.highlighted, .word-highlighted {
	border: 1pt solid green;
	background-color: #e0f0e0;
    }
    span.punctuation {
	padding: 0.1em;
	border: 1pt solid white;
    }

    span.punctuation-selected {
	border: 1pt solid blue;
	background-color: #b0b0f0;
    }

    span.punctuation-highlighted {
	border: 1pt solid blue;
	background-color: #e0e0f0;
    }

    span.number {
	padding: 0.1em;
	border: 1pt solid white;
    }

    span.number-selected, .blockOfDots-selected {
	border: 1pt solid green;
	background-color: #a0f0a0;
    }

    span.number-highlighted, .blockOfDots-highlighted {
	border: 1pt solid green;
	background-color: #e0f0e0;
    }

    span.operator {
	padding: 0.1em;
	border: 1pt solid white;
    }

    span.operator-selected {
	border: 1pt solid blue;
	background-color: #b0b0f0;
    }

    span.operator-highlighted {
	border: 1pt solid blue;
	background-color: #e0e0f0;
    }
}

$ruby_border: #405090;
$ruby_background: #fbfbff;

.ruby-structure {
  border: 3px solid $ruby_border;
  background-color: $ruby_background;
  span {
      border: 1pt solid $ruby_background;
  }
}

$spanish_border: #4090f0;
$spanish_background: #fbfcff;

.spanish-structure {
  border: 3px solid $spanish_border;
  background-color: $spanish_background;
  span {
      border: 1pt solid $spanish_background;
  }
}

$output_background: #ffe9e9;

.structure {
    span.output {
	span {
	    border: 1pt solid $output_background;
	    font-family: Courier New;
	    font-weight: bold;
	    font-size: 0.9em;
	    color: #a00000;
	    background-color: $output_background;
	    &.selected {
		border: 1pt solid red;
		background-color: #ffd0d0;
	    }
	    &.highlighted {
		border: 1pt solid red;
		background-color: #ffa0a0;
	    }
	}
    }
}

.annotation  {
  font-style: italic;
  font-size: 0.8em;
}

.date {
  font-style: italic;
  font-size: 1em;
  text-align: right;
  margin: 1em;
}

.author {
  font-style: italic;
  text-align: right;
}

.control {
  padding: 0.15em 0.35em;
  margin: 0 0 0 5em;
  font: 0.9em Arial,Helvetica;
  color: #606060;
  background-color: #f0f0f0;
  border: solid 1px #d0d0d0;
}

.interleaving-control {
  position: absolute;
  background-color: #f0f0f0;
  padding: 0.1em 0.3em 0 0;
  font-size: 0.9em;
  margin: 0;
  display:inline-block;
  top: 0.3em;
  right: 0.4em;
  white-space: nowrap;
}

.interleaved-group {
  border: 1pt solid red;
}
