/** Correspondence styling for specific examples */
.equation .structure-item {
  font: 2.2em bold Arial; }
.equation td.number {
  font-size: 2em; }

.blockOfDots {
  border: 1pt solid #c0c0c0; }

td.blockOfDots {
  font-size: 2em; }

table.blockEquation {
  border-spacing: 0.8em; }

.word-equation, .sentence {
  font: 1.4em normal Georgia; }

.paragraph {
  font: 1.4em normal Georgia;
  line-height: 1.5em; }
  .paragraph .word {
    padding: 0 0.1em; }

.structure .punctuation-selected, .structure .operator-selected {
  border: 1pt solid blue;
  background-color: #b0b0f0; }
.structure .punctuation-match, .structure .operator-match {
  border: 1pt solid blue;
  background-color: #e0e0f0; }
.structure .punctuation-partial-match, .structure .operator-partial-match {
  border: 1pt solid #8080a0;
  background-color: #f8f8ff; }

/* Ruby background & border */
.ruby-structure {
  border: 3px solid #405090;
  background-color: #fbfbff; }
  .ruby-structure .unhighlighted {
    border: 1pt solid #fbfbff; }

/* Spanish background & border */
.spanish-structure {
  border: 3px solid #4090f0;
  background-color: #fbfcff; }
  .spanish-structure .unhighlighted {
    border: 1pt solid #fbfcff; }

/** output & output marker styles for showing printed output of programming language examples */
.output-marker {
  padding: 0 0 0 0.5em;
  color: #f03030; }

.structure .output .structure-item {
  border: 1pt solid #ffe9e9;
  font-family: Courier New;
  font-weight: bold;
  font-size: 0.9em; }
.structure .output .unhighlighted {
  color: #a00000;
  background-color: #ffe9e9; }
.structure .output .selected {
  border: 1pt solid red;
  background-color: #ffd0d0; }
.structure .output .match {
  border: 1pt solid red;
  background-color: #ffa0a0; }
.structure .output .partial-match {
  border: 1pt solid #a08080;
  background-color: #fff8f8; }
