/** Generic or default Correspondence styling */
.structure {
  border: 3px solid #a0a0a0;
  margin: 1.0em 0;
  padding: 0.5em 0.4em;
  line-height: 1.5em;
  position: relative;
  background-color: white;
  color: #686868; }
  .structure .structure-item {
    color: #000060; }
  .structure:first-child {
    margin-top: 0; }
  .structure:last-child {
    margin-bottom: 0; }
  .structure .language {
    font-size: 0.6em;
    font-style: italic;
    color: #808080;
    position: absolute;
    top: 0.2em;
    right: 0.3em;
    line-height: 1em;
    padding: 0;
    margin: 0; }

.structure-group {
  position: relative;
  width: 40em;
  font: 1.2em normal Georgia;
  border: 2px solid #505050;
  margin: 4em 0.5em;
  background-color: #e0e0e0;
  padding: 1em; }
  .structure-group:first-child {
    margin-top: 0; }
  .structure-group:last-child {
    margin-bottom: 0; }

.partial-match, .match, .selected {
  color: black; }

.structure .structure-item {
  padding: 0.1em;
  border: 1pt solid white; }
.structure .selected {
  border: 1pt solid green;
  background-color: #a0f0a0; }
.structure .match {
  border: 1pt solid green;
  background-color: #d0f0d0; }
.structure .partial-match {
  border: 1pt solid #80a080;
  background-color: #f8fff8; }

.control {
  padding: 0.15em 0.35em;
  margin: 0 0 0 5em;
  font: 0.9em Arial,Helvetica;
  color: #606060;
  background-color: #f0f0f0;
  border: solid 1px #d0d0d0; }

.interleaving-control-wrapper {
  text-align: right;
  margin: 0.4em 0 0.2em 0; }
  .interleaving-control-wrapper .interleaving-control {
    background-color: #f0f0f0;
    padding: 0.1em 0.3em 0 0;
    font-size: 0.8em;
    margin: 0;
    color: #646464;
    white-space: nowrap; }

.structures-wrapper {
  margin: 0;
  padding: 0; }
  .structures-wrapper .interleaved-group {
    margin: 2.5em 0; }
    .structures-wrapper .interleaved-group:first-child {
      margin-top: 0; }
    .structures-wrapper .interleaved-group:last-child {
      margin-bottom: 0; }
    .structures-wrapper .interleaved-group .structure {
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
      .structures-wrapper .interleaved-group .structure:first-child {
        margin-top: 0; }
      .structures-wrapper .interleaved-group .structure:last-child {
        margin-bottom: 0; }
