/** output & output marker styles for showing printed output of programming language examples */
.output-marker {
  padding: 0 0 0 0.5em;
  color: #f03030; }

.block .output .block-item {
  border: 1pt solid #ffe9e9;
  font-family: Courier New;
  font-weight: bold;
  font-size: 0.9em; }
.block .output .unhighlighted {
  color: #a00000;
  background-color: #ffe9e9; }
.block .output .selected {
  border: 1pt solid red;
  background-color: #ffd0d0; }
.block .output .match {
  border: 1pt solid red;
  background-color: #ffa0a0; }
.block .output .partial-match {
  border: 1pt solid #a08080;
  background-color: #fff8f8; }
