body {
  color: #404040;
  margin: 0.4em 2em;
}

p, ul {
  color: black;
  font: 1.2em normal Georgia;
}

h1 {
  font: 3em bold Arial,Helvetica;
  color: #000030;
  margin: 0;
  padding: 0;
}

h2 {
  color: #000030;
  font: 2em bold Arial,Helvetica;
}

.structure {
  border: 1px solid #a0a0a0;
  margin: 18pt;
  background-color: white;
}

.structure-group {
  width: 40em;
  border: 2px solid #505050;
  margin: 30pt 10pt;
  background-color: #e0e0e0;
}

.structure-group:first-child {
  margin-top: 0;
}

.equation {
  font: 2.2em bold Arial;
  padding: 0.5em;
}

.word-equation, .sentence {
  font: 1.4em normal Georgia;
  padding: 0.9em;
}

.highlighted, .selected {
  color: black;
}

.word {
  border: 1pt solid red;
  padding: 0.1em;
  border: 1pt solid white;
}

.word-selected {
  border: 1pt solid green;
  background-color: #a0f0a0;
}

.word-highlighted {
  border: 1pt solid green;
  background-color: #e0f0e0;
}

.punctuation {
  padding: 0.1em;
  border: 1pt solid white;
}

.punctuation-selected {
  border: 1pt solid blue;
  background-color: #b0b0f0;
}

.punctuation-highlighted {
  border: 1pt solid blue;
  background-color: #e0e0f0;
}

.number {
  padding: 0.1em;
  border: 1pt solid white;
}

.number-selected {
  border: 1pt solid green;
  background-color: #a0f0a0;
}

.number-highlighted {
  border: 1pt solid green;
  background-color: #e0f0e0;
}

.operator {
  padding: 0.1em;
  border: 1pt solid white;
}

.operator-selected {
  border: 1pt solid blue;
  background-color: #b0b0f0;
}

.operator-highlighted {
  border: 1pt solid blue;
  background-color: #e0e0f0;
}

.annotation  {
  font-style: italic;
  font-size: 0.8em;
}

.date {
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

.author {
  font-style: italic;
  text-align: right;
}
