@import "_correspondence-fonts";

/** Page styling unrelated to correspondence */

p, ul, ol {
  color: black;
  font: 1.2em normal $serif_font_family;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
  font: 3em bold $heading_font_family;
  font-weight: bold;
  color: #000090;
  margin: 0;
  padding: 0;
}

h2 {
  color: #000070;
  font: 2em $heading_font_family;
  margin: 1em 0 0.4em 0;
}

body {
  color: #404040;
  margin: 0.4em 2em;
}

.date {
  font-style: italic;
  font-size: 1em;
  text-align: right;
  margin: 1em;
}

.author {
  font-style: italic;
  text-align: right;
}
